dash==2.11.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
pandas
numpy==1.25.0
pywebview
pyarrow==12.0.1
fastparquet==2023.10.0
textwrap3
networkx
trino
pyvis==0.1.9
werkzeug==2.2.3
gunicorn==20.1.0


